<p id="notice"><%= notice %></p>

<h1>Listing to you: Urugs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @urugs.each do |urug| %>
      <tr>
        <td><%= urug.title %></td>
        <td><%= link_to 'Show', urug %></td>
        <td><%= link_to 'Edit', edit_urug_path(urug) %></td>
        <td><%= link_to 'Destroy', urug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Urug', new_urug_path %>
